
<section class="channel_h5">
    <div class="channel_h5_header">
        <p class="channel_h5_title">
            男生最爱
        </p>
        <!-- <div class="tab">
            <a href="javascript:" class="tab_on">男</a><a href="javascript:">女</a>
        </div> -->
    </div>
    <div>
        <ul class="list_h5">
            <li>
                <div class="book_h5">
                    <div class="book_h5_cover">
                        <img src="https://oimagec1.ydstatic.com/image?id=-4426113792823978529&product=adpublish&w=360&h=360&sc=0&rm=2&gsb=0&gsbd=60" alt="book">
                        <p class="book_h5_finish">完结</p>
                    </div>
                    <div class="book_h5_info">
                        <p class="book_h5_title">书名</p>
                        <p class="book_h5_author">作者</p>
                        <p class="book_h5_summary">简介</p>
                        <div class="book_h5_wrap">
                            <div class="book_h5_tag">标签</div>
                            <div class="book_h5_tag">标签</div>
                            <div class="book_h5_tag">标签</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="book_h5">
                    <div class="book_h5_cover">
                        <img src="https://oimagec1.ydstatic.com/image?id=-4426113792823978529&product=adpublish&w=360&h=360&sc=0&rm=2&gsb=0&gsbd=60" alt="book">
                        <p class="book_h5_finish">完结</p>
                    </div>
                    <div class="book_h5_info">
                        <p class="book_h5_title">书名</p>
                        <p class="book_h5_author">作者</p>
                        <p class="book_h5_summary">简介</p>
                        <div class="book_h5_wrap">
                            <div class="book_h5_tag">标签</div>
                            <div class="book_h5_tag">标签</div>
                            <div class="book_h5_tag">标签</div>
                        </div>
                    </div>
                    
                </div>
            </li>
            
        </ul>
    </div>
    <div class="channel_h5_footer_next">
        <a href="javascript:">换一换</a>
        <a href="/male">男生频道</a>
    </div>

</section>