
<section>
    <div class="channel_group">
        <div class="channel_group_header">
            <h2 class="channel_group_title">限时免费</h2>
        </div>
        <ul class="book_table">
            <li>
                <div class="u_book">
                    <div class="book_cover">
                        <img src="https://oimagec1.ydstatic.com/image?id=-4426113792823978529&product=adpublish&w=360&h=360&sc=0&rm=2&gsb=0&gsbd=60" alt="">
                        <div class="u_tagRt _freefiction"></div>
                    </div>
                    <div class="book_info">
                        <h3 class="book_info_title">清风明月</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="u_book">
                    <div class="book_cover">
                        <img src="https://oimagec1.ydstatic.com/image?id=-4426113792823978529&product=adpublish&w=360&h=360&sc=0&rm=2&gsb=0&gsbd=60" alt="">
                        <div class="u_tagRt _freefiction"></div>
                    </div>
                    <div class="book_info">
                        <h3 class="book_info_title">清风明月</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="u_book">
                    <div class="book_cover">
                        <img src="https://oimagec1.ydstatic.com/image?id=-4426113792823978529&product=adpublish&w=360&h=360&sc=0&rm=2&gsb=0&gsbd=60" alt="">
                        <div class="u_tagRt _freefiction"></div>
                    </div>
                    <div class="book_info">
                        <h3 class="book_info_title">清风明月</h3>
                    </div>
                </div>
            </li>
        </ul>
        <a class="channel_group_footer" href="/free">更多限免佳作&gt;&gt;</a>
    </div>
</section>