<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <title>书城首页</title>
</head>
<body>
    <div  id="app" :style="{width:screenWidth+'px',overflow: 'hidden'}">
        <% include include/header.html %>
        <div :style="{width:doubleScreenWidth+'px',transitionDuration: duration+'s',transform:'translate3d('+position+'px,0,0)'}">
            <div class="container_wrap"  :style="{width:screenWidth+'px',float: 'left'}">
                <div class="container_scroll">
                    <% include include/index-top.html %>
                    <% include include/index-free.html %>
                    <% include include/index-bottom.html %>
                    <% include include/index-male.html %>
                    <% include include/index-female.html %>
                    <% include include/index-hot.html %>
                    <% include include/index-recommend.html %>
                </div>
            </div>
            <div class="container_shelf" :style="{width:screenWidth+'px',float: 'left'}">
                <% include include/index-shelf.html %>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script src="/static/script/pages/index.js"></script>
</html>